button {
    border: 1px solid grey;
    border-radius: 25px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--grey);
    line-height: 1rem;
    background-color: var(--white);
    box-sizing: border-box;
}

button:hover {
    @media screen and (min-width: 768px) {
        cursor: pointer;
        border: 2px solid var(--grey);
    }
}

.button-container button {
    width: 128px;
    height: 32px;
}

.country-cards-container button {
    width: 270px;
    height: 56px;
    padding: 0 12px;
}