@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --white: #FFF;
  --grey: #a6a6a6;
  --yellow: #ffd435;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100vw;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  text-transform: uppercase;
}

/* Images */

img {
  width: 100%;
}