@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --white: #FFF;
  --grey: #a6a6a6;
  --yellow: #ffd435;
  --green: #6ac487;
  --blue: #5575c2;
  --red: #d14e5b;
  --purple: #a653ba;
}

/* Typography */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

/* --Headings */

h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

.africa {
  color: var(--blue);
}

.americas {
  color: var(--green);
}

.asia {
  color: var(--red);
}

.europe {
  color: var(--yellow);
}

.oceania {
  color: var(--purple);
}


/* Images */

img {
  width: 100%;
}