.world-regions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.world-map-wrapper {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.country-cards-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
}